body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#flashArea {
    display: none; /* Hidden initially */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Color classes */
.black {
    background-color: #c0c0c0;
}

.white {
    background-color: white;
}
